<div class="container">
    <h1>Prendre un rendez-vous</h1>

    {{ form_start(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.heure) }}
    <button type="submit" class="btn btn-primary">Demander le rendez-vous</button>
    {{ form_end(form) }}
</div>